/* CONTAINER */
body {
  background-color: #193441;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  margin-bottom: 10px;
}

/* HEADER */
#header {
  background-color: #083643;
  color: #FFF;
}

#header_container {
  width: 940px;
  margin: 0 auto;
}

#header_container #site_id {
  padding: 10px;
  float: left;
}

#header_container #site_id h1 a {
  font-size: 1.8em;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}

/* CONTENT */

#content {
  background: transparent url(../img/background.jpg) repeat-y scroll top center;
}

#content_container {
  width: 940px;
  margin: 0 auto;
}

#content_container #main {
  padding: 10px;
  width: 625px;
  float: left;
}

#content_container #sidebar {
  padding: 10px;
  width: 275px;
  float: right;
}

#sidebar h2 {
  font-weight: bold;
  margin-bottom: 10px;
}

#sidebar a {
  text-decoration: none;
}

#content_container h1 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 10px;
}

/* POSTS */

#content_container .post {
  margin-bottom: 30px;
}

#content_container .post a {
  text-decoration: none;
}

/* FOOTER */
#footer {
  background-color: #083643;
}

#footer_container {
  width: 940px;
  margin: 0 auto;
  padding: 10px;
  color: #FFFFFF;
  font-size: 0.8em;
  text-align: center;
}

#footer_container a {
  text-decoration: none;
  color: #D1DBBD;
}

/* MISCELANEOUS */
.clear {
  clear: both;
  font-size: 0;
  height: 0;
  line-height: 0;
}

.rounded_corners{
  padding: 10px;
  background-color: #B1E001;
  border: 1px solid #B1E001;

  /* Do rounding (native in Safari, Firefox and Chrome) */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

.rounded_corners_blue{
  padding: 10px;
  background-color: #DDEEF6;
  border: 1px solid #DDEEF6;

  /* Do rounding (native in Safari, Firefox and Chrome) */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}